<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <div class="row">
                    <div class="col mt-4">
                        <div class="bg-white border rounded-3">
                            <section class="w-100 p-2">
                                <item type="table" id="tblMaster"></item>
                            </section>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- Modal Master -->
<div class="modal fade" id="modalMaster" tabindex="-1" aria-labelledby="modalMasterLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMasterLabel"> @ViewData["AppName"] <span></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="frmMaster" class="needs-validation" autocomplete="off" novalidate>
                <div class="modal-body" style="padding-left:10px;padding-top:5px;padding-right:10px;">

                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
                        <div class="btn-group btn-group-sm me-2" role="group" aria-label="Toolbar">

                            <button type="button" class="btn btn-success" id="btnSave" name="btnSave" onclick="onSave();" title="Save data" @(ViewData["ComponentToolbarSave"].ToString() == "true" ? "" : "disabled")>
                                <i class="ti-save"></i>
                            </button>
                            <button type="button" class="btn btn-success" id="btnPrint" name="btnPrint" onclick="onPrint();" title="Print" @(ViewData["ComponentToolbarPrint"].ToString() == "true" ? "" : "disabled")>
                                <i class="ti-printer"></i>
                            </button>
                            <button type="button" class="btn btn-success" id="btnExecute" name="btnExecute" onclick="onExecute()" title="Execute/Run" @(ViewData["ComponentToolbarExecute"].ToString() == "true" ? "" : "disabled")>
                                <i class="fas fa-bolt"></i>
                            </button>
                            <button type="button" class="btn btn-success" id="btnDelete" name="btnDelete" onclick="onDelete();" title="Delete " @(ViewData["ComponentToolbarDelete"].ToString() == "true" ? "" : "disabled")>
                                <i class="far fa-trash-alt"></i>
                            </button>

                        </div>
                    </div>

                    <input type="hidden" class="form-control" id="_Action" name="_Action" value="POST">


                    <fieldset class="fieldset">
                        <legend>Menu Information</legend>

                        <ul class="nav nav-tabs md-tabs " role="tablist" id="pills-tab">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab1-panel" role="tab" style="height:50px;" id="tab1-button">
                                    <i class="icofont icofont-home"></i>
                                    Menu
                                </a>
                                <div class="slide"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab2-panel" role="tab" style="height:50px;" id="tab2-button">
                                    <i class="icofont icofont-ui-user "></i>
                                    Group
                                </a>
                                <div class="slide"></div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tab3-panel" role="tab" style="height:50px;" id="tab3-button">
                                    <i class="icofont icofont-ui-user "></i>
                                    Permission
                                </a>
                                <div class="slide"></div>
                            </li>
                        </ul>


                        <div class="tab-content card-block">

                            <input type="hidden" class="form-control" id="_ID" name="_ID">
                            <div class="tab-pane active" id="tab1-panel" role="tabpanel">
                                <div class="row g-2">
                                    <div class="col-md-4">
                                        <item type="text" id="Code" label="Code"></item>
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col-md">
                                        <item type="text" id="Name" label="Menu"></item>
                                    </div>
                                    <div class="col-md">
                                        <item type="text" id="Title" label="Title"></item>
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col-md">
                                        <item type="text" id="NameTH" label="Menu (Thai)"></item>
                                    </div>
                                    <div class="col-md">
                                        <item type="text" id="TitleTH" label="Title (Thai)"></item>
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col-md">
                                        <item type="text" id="NameJP" label="Menu (Japan)"></item>
                                    </div>
                                    <div class="col-md">
                                        <item type="text" id="TitleJP" label="Title (Japan)"></item>
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col-md-5">
                                        <item type="text" id="Icon" label="Icon"></item>
                                    </div>
                                    <div class="col-md-1">
                                        <i id="IconDisplay" style="margin-top:10px"></i>
                                    </div>
                                    <div class="col-md">
                                        <div class="input-group">
                                            <label class="input-group-text" for="Status">Status</label>
                                            <select class="form-select" id="Status" name="Status" value="ACTIVE">
                                                <option value="ACTIVE">ACTIVE</option>
                                                <option value="DEVELOP">DEVELOP</option>
                                                <option value="HOLD">HOLD</option>
                                                <option value="ADMIN">ADMIN</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" class="form-control" id="MenuParent_ID" name="MenuParent_ID">
                            <div class="tab-pane" id="tab2-panel" role="tabpanel">
                                <div class="row g-2">
                                    <div class="col">
                                        <item type="select" id="Parent_ID" label="Menu Group"></item>
                                    </div>
                                    <div class="col-md-3">
                                        <item type="text" id="Seq" label="Sequence"></item>
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col-md">
                                        <item type="text" id="Controller" label="Controller"></item>
                                    </div>
                                    <div class="col-md">
                                        <item type="text" id="Action" label="Action"></item>
                                    </div>
                                </div>
                                <div class="row g-2">
                                    <div class="col-md">
                                        <item type="textarea" id="Remark" label="Remark"></item>
                                    </div>
                                </div>
                            </div>

                            <input type="hidden" class="form-control" id="GroupMenu_ID" name="GroupMenu_ID">
                            <div class="tab-pane" id="tab3-panel" role="tabpanel">
                                <div class="row g-2">
                                    <div class="col">
                                        <item type="select" id="Group_ID" label="User Group"></item>
                                    </div>
                                </div>
                                <fieldset class="fieldset" id="fldToobar">
                                    <legend>Toolbar : </legend>

                                    <div class="row">
                                        <div class="col">
                                            <div class="row g-2">
                                                <div class="col">
                                                    <item type="checkbox" id="Toolbar" label="Show Toolbar"></item>
                                                </div>
                                            </div>

                                            <div class="row g-2">
                                                <div class="col">
                                                    <item type="check" id="ToolbarSearch" label="Search"></item>
                                                </div>
                                                <div class="col-3">
                                                    <item type="text" id="ToolbarSearchText" label="Text"></item>
                                                </div>
                                                <div class="col">
                                                    <item type="check" id="ToolbarNew" label="New"></item>
                                                </div>
                                                <div class="col-3">
                                                    <item type="text" id="ToolbarNewText" label="Text"></item>
                                                </div>
                                            </div>

                                            <div class="row g-2">
                                                <div class="col">
                                                    <item type="check" id="ToolbarSave" label="Save/Update"></item>
                                                </div>
                                                <div class="col-3">
                                                    <item type="text" id="ToolbarSaveText" label="Text"></item>
                                                </div>
                                                <div class="col">
                                                    <item type="check" id="ToolbarDelete" label="Delete"></item>
                                                </div>
                                                <div class="col-3">
                                                    <item type="text" id="ToolbarDeleteText" label="Text"></item>
                                                </div>
                                            </div>

                                            <div class="row g-2">
                                                <div class="col">
                                                    <item type="check" id="ToolbarPrint" label="Print"></item>
                                                </div>
                                                <div class="col-3">
                                                    <item type="text" id="ToolbarPrintText" label="Text"></item>
                                                </div>
                                                <div class="col">
                                                    <item type="check" id="ToolbarExecute" label="Execute"></item>
                                                </div>
                                                <div class="col-3">
                                                    <item type="text" id="ToolbarExecuteText" label="Text"></item>
                                                </div>
                                            </div>

                                            <div class="row g-2">
                                                <div class="col">
                                                    <item type="check" id="ToolbarExport" label="Export"></item>
                                                </div>
                                                <div class="col-3">
                                                    <item type="text" id="ToolbarExportText" label="Text"></item>
                                                </div>
                                                <div class="col"></div>
                                                <div class="col-3"></div>
                                            </div>

                                        </div>
                                    </div>
                                </fieldset>
                            </div>




                        </div>
                    </fieldset>



                </div>
            </form>

            <div class="modal-footer" style="padding-left:20px; padding-right:20px;">
                <i class="modal-reference mr-auto">Reference Code : <i id="_REFERCODE_"></i></i>
                @if (ViewData["UserGroupID"].ToString() == "1" || ViewData["UserGroupID"].ToString() == "2")
                {
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalHistory" data-bs-remote="UserMaintenance">
                        <i class="fas fa-scroll" title="History Log"></i>
                    </a>
                }
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script type="text/javascript" src="~/assets/js/History/UserMaintenance.js"></script>
    @*<script type="text/javascript" src="~/assets/.script/Template/Master.js"></script>*@
    <script type="text/javascript" src="~/assets/.script/ERP/ERP01M020.js?@ViewData["Version"]"></script>
}
