<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">

                <div class="row" style="margin-top:20px;">
                    <div class="col-12">
                        <table id="tblMain" class="display" style="width:100%"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- Modal Main -->
<div class="modal fade" id="ModalMain" tabindex="-1" aria-labelledby="ModalMainLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <form id="frmModalMain">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalMainLabel">Group Detail<span></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="padding:20px;">
                    <input type="hidden" class="form-control" id="_ID" name="_ID">
                    <div class="row g-2">
                        <div class="col-md-2">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="Code" name="Code" placeholder="Code" autocomplete="off" required>
                                <label for="Code">Code<span style="color:red">*</span></label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" autocomplete="off" required>
                                <label for="Name">Name<span style="color:red">*</span></label>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="form-floating mb-2">
                                <input type="text" class="form-control" id="NameTH" name="NameTH" placeholder="NameTH" autocomplete="off">
                                <label for="NameTH">ชื่อ</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-reference">
                    <i class="modal-reference" style="padding-left:20px;">Reference Code : <i id="_REFERCODE_">xxxxxxxx</i></i>
                </div>
                <div class="modal-footer" style="padding-left:25px; padding-right:25px;">
                    <button type="button" class="btn btn-danger mr-auto" id="btnDelete" onclick="onDelete();">@Html.i18nItem(language:ViewData["UserLanguage"].ToString(),item:"UserMaintenance.modal.user_detail.delete")</button>
                    <button type="button" class="btn btn-primary" id="btnSave" onclick="onSave();">@Html.i18nItem(language:ViewData["UserLanguage"].ToString(),item:"UserMaintenance.modal.user_detail.save")</button>
                    <button type="button" class="btn btn-secondary" id="btnCancel" data-bs-dismiss="modal">@Html.i18nItem(language:ViewData["UserLanguage"].ToString(),item:"UserMaintenance.modal.user_detail.close")</button>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts{

    <script language="javascript" type="text/javascript">

        $(document).ready(function () {
            var _i18n = '@ViewData["UserLanguage"].ToString()';


            var tblMain;
            onLoad = function () {

                $.ajax({
                    type: "GET",
                    headers: ajexHeader,
                    url: '@Url.Action("Read","ERPGroups")',
                    success: function (result) {

                        tblMain = xDataTable.Initial({
                            name: 'tblMain',
                            data: result.data,
                            running: 0,
                            columnTitle: {
                                "EN": ['No.', 'Code', 'Name', 'Name (Thai)', 'Status'],
                                "TH": ['No.', 'รหัส', 'ชื่อ', 'ชื่อ (ไทย)', 'สถานะ'],
                            },
                            column:
                                [
                                    { "data": "RunningNo" },
                                    { "data": "Code" },
                                    { "data": "Name" },
                                    { "data": "NameTH" },
                                    { "data": "Status" }
                                ],
                            addnew: function (config) {
                                onEdit();
                            },
                            rowclick: function (row) {
                                onEdit(row);
                            },
                            then: function (config) {
                                xSplash.hide();
                            }
                        });
                    }
                });

            }
            onLoad();


            onEdit = function (row = null) {
                if (row._ID == null) {
                    $('#ModalMain').modal('toggle');
                    $('#inputCode').removeAttr('readonly');
                    $('input').each(function () {
                        this.value = '';
                    });
                } else {
                    $('#_refcode').html(row._ID);

                    $.ajax({
                        type: "GET",
                        headers: ajexHeader,
                        url: '@Url.Action("Read","ERPGroups")',
                        data: { _id: row._ID },
                        success: function (result) {
                            //console.log(result);

                            $.each(result.data[0], function (key, value) {
                                //console.log(key + ": " + value);
                                $('#' + key).val(value);
                            });

                            $('#ModalMain').modal('toggle');
                        }
                    });
                }
            }
            onSave = function () {

                const _frmModalMain = document.getElementById("frmModalMain");
                if (!_frmModalMain.checkValidity()) {
                    event.preventDefault();
                    event.stopPropagation();
                    _frmModalMain.classList.add('was-validated');
                    return false;
                }

                xSwal.questionPack(
                    i18n.UserMaintenance.modal.user_detail.swal_save,
                    function (result) {
                        if (result.isConfirmed) {

                            $.ajax({
                                type: ($('#_ID').val() == '' ? 'POST' : 'PATCH'),
                                headers: ajexHeader,
                                url: '@Url.Action("Save","ERPGroups")',
                                data: $("#frmModalMain").serialize(),
                                dataType: "json",
                                success: function (result) {
                                    //console.log(result.data);

                                    $('#ModalMain').modal('hide');
                                    $('#tblMain').dataTable().fnClearTable();
                                    if (result.data.length > 0) {
                                        $('#tblMain').dataTable().fnAddData(result.data);
                                    }
                                },
                                error: function () {
                                    console.log('error handling here');
                                }
                            });

                        }
                    });

            }
            onDelete = function () {
                xSwal.questionPack(
                    i18n.UserMaintenance.modal.user_detail.swal_delete,
                    function (result) {
                        if (result.isConfirmed) {

                            $.ajax({
                                type: "DELETE",
                                headers: ajexHeader,
                                url: '@Url.Action("Delete","ERPGroups")',
                                data: { _id: $('#_ID').val() },
                                success: function (result) {
                                    console.log(result);

                                    $('#ModalMain').modal('hide');
                                    $('#tblMain').dataTable().fnClearTable();
                                    if (result.data.length > 0) {
                                        $('#tblMain').dataTable().fnAddData(result.data);
                                    }
                                },
                                error: function () {
                                    console.log('error handling here');
                                }
                            });
                        }

                    });
            }

        });

    </script>
}
