<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">

                    <div class="row">
                        <div class="col">

                            <fieldset class="fieldset">
                                <legend>Current Process Information :</legend>

                                <div class="row">
                                    <div class="col-6">

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="input-group">
                                                    <label class="input-group-text" for="txtProcessDate"> Process Date :</label>
                                                    <input type="date" class="form-control" id="txtProcessDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />                                            </div>
                                                </div>
                                            <div class="col-6">
                                                <item type="text" id="txtPlant" label="Plant :" value="@ViewData["_Plant"]" readonly></item>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6">

                                        <div class="row">
                                            <div class="col-6">
                                                <item type="text" id="txtProcessShift" label="Process Shift :" value="@ViewData["_ShiftTitle"]?.ToString()" readonly></item>
                                            </div>
                                            <div class="col-6">
                                                <item type="text" id="txtOrderType" label="Order Type :" value="Normal Order" readonly></item>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </fieldset>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-10">
                            <div class="row mb-2">
                                <div class="col">
                                    <fieldset class="fieldset">
                                        <legend>Process For :</legend>

                                        <div class="row">
                                            <div class="col">

                                                <div class="row">
                                                    <div class="col-3">
                                                        <div class="input-group">
                                                            <label class="input-group-text" for="txtProcessForDate"> Date :</label>
                                                            <input type="date" class="form-control" id="txtProcessForDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                                        </div>
                                                    </div>
                                                    <div class="col-3">
                                                        <item type="text" id="txtProcessForShift" label="Shift :" value="@ViewData["_ShiftTitle"]?.ToString()"></item>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </fieldset>

                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col">
                                    <fieldset class="fieldset">
                                        <legend>CONDITON :</legend>

                                        <div class="row mb-2">
                                            <div class="col">
                                                <div class="row">
                                                    <div class="col-3">
                                                        <div class="input-group">
                                                            <label class="input-group-text" for="txtDate"> Condition Date :</label>
                                                            <input type="date" class="form-control" id="txtDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-1">
                                            </div>
                                            <div class="col">
                                                <label>
                                                    <input type="radio" class="form-check-input" id="MRP-20" name="rdoOrderTypeName" value="-20" checked />
                                                    MRP -20%
                                                </label>
                                            </div>
                                            <div class="col">
                                                <label>
                                                <input type="radio" class="form-check-input" id="MRP+20" name="rdoOrderTypeName" value="+20" />
                                                    MRP +20%
                                                </label>
                                            </div>
                                            <div class="col">
                                                <label class="form-label" for="MRPAll">
                                                    <input type="radio" class="form-check-input" id="MRPAll" name="rdoOrderTypeName" value="All" />
                                                    AllData
                                                </label>
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row mt-2">
                                <div class="col"></div>
                                <div class="col-9">
                                    <item type="button" id="btnExit" label="Exit" style="width:100%"></item>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col"></div>
                                <div class="col-9">
                                    <label class="btn btn-success" id="labelImport" style="width:100%">Update MRP
                                        <input type="file" id="inputFile" style="display:none" accept=".xlsx,.xls"/>
                                    </label>
                                </div>
                            </div>
                            <div class="row mt-1">
                                <div class="col"></div>
                                <div class="col-9">
                                    <item type="button" id="btnReportMRP" label="Report MRP" style="width:100%"></item>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col"></div>
                                <div class="col-9">
                                    <item type="button" id="btnReport" label="Report" style="width:100%"></item>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col"></div>
                                <div class="col-9">
                                    <item type="button" id="btnSearch" label="Search" style="width:100%"></item>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col">
                            <item type="table" id="tblMaster" label=""></item>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>



@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/OrderingProcess/KBNOR160.js")"></script>
}
