@{
    Layout = null;
}


<!DOCTYPE html>

<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="~/assets/"
      data-template="vertical-menu-template-free">
<head>
    <title>@ViewData["AppName"] - @ViewData["Title"]</title>

    <meta charset="utf-8" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <meta name="description" content="" />
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    @*    
    @if (ViewData["_DEV_"].ToString().ToUpper() == "TRUE")
    {
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    }
    *@


    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="@ViewData["Logo"]" />


    <link rel="stylesheet" href="~/assets/vendor/bootstrap/5.1.0/dist/css/bootstrap.min.css" type="text/css" />
    @*<link rel="stylesheet" href="~/HinoHINOSystem.styles.css" asp-append-version="true" />*@


    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/assets/vendor/fontawesome-free/css/all.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/core.css" type="text/css" class="template-customizer-core-css" id="theme" />
    <link rel="stylesheet" href="~/assets/vendor/css/rtl/theme-semi-dark.css" type="text/css" class="template-customizer-theme-css" id="theme_style" />

    <link rel="stylesheet" href="~/assets/vendor/daterangepicker/daterangepicker.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/bootstrap-datepicker/1.9.14/css/bootstrap-datepicker.css" type="text/css" />
    @*<link rel="stylesheet" href="~/assets/vendor/bootstrap/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"/>*@


    <link href="~/assets/vendor/splash/xSplash.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/demo.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" type="text/css" />


    <link rel="stylesheet" href="~/assets/css/Login.css" type="text/css" />


    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="~/assets/vendor/jquery/3.6.0/jquery.min.js"></script>
    <script src="~/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/assets/vendor/bootstrap/5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/bootstrap/bootstrap-datepicker/1.9.14/js/bootstrap-datepicker.min.js"></script>
    @*<script src="~/assets/vendor/bootstrap/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>*@
    <script src="~/assets/vendor/splash/xSplash.js"></script>

    
    @*<script src="~/assets/js/config.js"></script>*@
    <script type="text/javascript" src="~/assets/adminty/libs/config.js"></script>
    <script type="text/javascript" src="~/assets/adminty/libs/function/AD.js"></script>
    <script type="text/javascript" src="~/assets/adminty/libs/class/labAjax.js"></script>
    <script type="text/javascript" src="~/assets/adminty/libs/class/labClockTimer.js"></script>
    <script type="text/javascript" src="~/assets/adminty/libs/class/labDate.js"></script>

    <script src="~/assets/js/libFunction.js"></script>
    <script src="~/assets/js/libSwal2.js"></script>
    @*<script src="~/assets/js/libAjax.js"></script>*@
    <script src="~/assets/js/libCookies.js"></script>
    <script src="~/assets/js/libChartJS.js"></script>
    <script src="~/assets/js/libDataTables.js"></script>
    <script src="~/assets/js/libSelectOption.js"></script>
    <script src="~/assets/js/libComponent.js"></script>
    <script src="~/assets/js/libListOfValues.js"></script>
    <script src="~/assets/js/libBootstrap.js"></script>
    <script src="~/assets/js/libBootstrapDisplay.js"></script>
    @*<script src="~/assets/js/libAD.js"></script>*@
</head>

<body>
    <div id="vueApp">

        <div class="container">
            <div class="screen-display">
                <div class="bubbles">
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                </div>
            </div>

            <div class="login-container">
                <div>
                    <div class="avatar">
                        <a href="Login/Hino">
                            <img src="@ViewData["LogoImage"]" alt="HINO Logo" />
                        </a>
                    </div>
                </div>
                <p class="mt-4" style="color:red;">@ViewData["ErrorText"]</p>
                <form id="formAuthentication" class="mb-3 needs-validation" method="POST" novalidate>
                    <input type="hidden" id="txtDomain" name="txtDomain" />
                    <input type="hidden" id="txtDeviceName" name="txtDeviceName" />
                    <input type="hidden" id="txtFullDeviceName" name="txtFullDeviceName" />
                    <input type="hidden" id="txtIPAddress" name="txtIPAddress" />
                    <input type="hidden" id="txtIsHINO" name="txtIsHINO" value="1" />
                    <div class="mb-2">
                        <h4>@ViewData["Title"]</h4>
                    </div>
                    <div class="mb-3 position-relative">
                        <input type="text"
                               class="form-control"
                               id="txtUserName"
                               name="txtUserName"
                               value="@ViewData["txtUserName"]"
                               autocomplete="off"
                               required
                               autofocus
                               readonly />
                    </div>
                    <div class="position-relative">
                        @*<div class="input-group">*@
                        <input type="text"
                               class="form-control"
                               id="txtProcessDate"
                               name="txtProcessDate"
                               format="yyyy-mm-dd" />
                        @*</div>*@
                    </div>
                    <div class="mb-3 position-relative">
                        <select class="form-select" id="ddlFactory" name="ddlFactory" value="@ViewData["ddlFactory"]" readonly>
                            <option value="1">Factory 1</option>
                            <option value="2">Factory 2</option>
                            <option value="3">Factory 3</option>
                        </select>
                    </div>

                    <div class="mb-3 position-relative">
                        <select class="form-select" id="ddlShift" name="ddlShift" value="@ViewData["ddlShift"]">
                            <option value="D">1 : Day Shift</option>
                            <option value="N">2 : Night Shift</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn d-grid w-100" style="background-color:#1abc9c; color:white;">Log On</button>
                    </div>
                    @*<div class="d-flex justify-content-between">
                    <a href="" data-bs-toggle="modal" data-bs-target="#ModalForgot">
                    <small>Forgot Password?</small>
                    </a>
                    </div>*@
                    <input type="hidden" id="KB" name="KB" />
                </form>
            </div>
        </div>


        <div id="splash-wrapper">
            <div id="splash-text">LOADING</div>
            <div id="splash-content"></div>
        </div>
    </div>

    <script type="text/javascript" src="~/assets/adminty/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="~/vueApp/Login/login.index.vue.js?@ViewData["Version"]"></script>
    <script type="text/javascript">

        $(document).ready(function (e, context) {

            xSplash.hide();
            $('.btn-outline-secondary').attr('style', 'height:39px;');
            $('.gj-datepicker').attr('style', 'height:39px;');
            
            //onInitialAD();
        });





        (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation');

            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })();





    </script>

</body>
</html>