<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">
                </form>

                <div class="row">
                    <div class="col mt-2">
                        <item type="table" id="tblMaster"></item>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- Modal Master -->
<div class="modal fade" id="modalMaster" tabindex="-1" aria-labelledby="modalMasterLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMasterLabel"> @ViewData["AppName"] <span></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="frmMaster" class="needs-validation" autocomplete="off" novalidate>
                <div class="modal-body" style="padding-left:10px;padding-top:5px;padding-right:10px;">

                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
                        <div class="btn-group btn-group-sm me-2" role="group" aria-label="Toolbar">

                            <button type="button" class="btn btn-success" id="btnSave" name="btnSave" onclick="onSave();" title="Save data" @(ViewData["ComponentToolbarSave"].ToString() == "true" ? "" : "disabled")>
                                <i class="ti-save"></i>
                            </button>
                            <button type="button" class="btn btn-success" id="btnPrint" name="btnPrint" onclick="onPrint();" title="Print" @(ViewData["ComponentToolbarPrint"].ToString() == "true" ? "" : "disabled")>
                                <i class="ti-printer"></i>
                            </button>
                            <button type="button" class="btn btn-success" id="btnExecute" name="btnExecute" onclick="onExecute()" title="Execute/Run" @(ViewData["ComponentToolbarExecute"].ToString() == "true" ? "" : "disabled")>
                                <i class="fas fa-bolt"></i>
                            </button>
                            <button type="button" class="btn btn-success" id="btnDelete" name="btnDelete" onclick="onDelete();" title="Delete" @(ViewData["ComponentToolbarDelete"].ToString() == "true" ? "" : "disabled")>
                                <i class="far fa-trash-alt"></i>
                            </button>

                        </div>
                    </div>

                    <input type="hidden" class="form-control" id="_Action" name="_Action" value="POST">
                    <input type="hidden" class="form-control" id="_ID" name="_ID">

                    <fieldset class="fieldset">
                        <legend>Detail Data : </legend>

                        <div class="row g-2">
                            <div class="col-md-6">
                                <item type="text" id="F_OrderNo" label="Order No. From"></item>
                            </div>
                            <div class="col-md-6">
                                <item type="text" id="F_OrderNo_To" label="Order No. To"></item>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-md-6">
                                <item type="text" id="F_StoreCode" label="Part Order From"></item>
                            </div>
                            <div class="col-md-6">
                                <item type="text" id="F_OrderType" label="Part Order To"></item>
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col-md-6">
                                <item type="date" id="F_Delivery_Date" label="Delivery Date From" format="yyyy-mm-dd" default="now" noedit required></item>
                            </div>
                            <div class="col-md-6">
                                <item type="date" id="F_Delivery_Date_To" label="Delivery Date To" format="yyyy-mm-dd" default="now" noedit required></item>
                            </div>
                        </div>
                    </fieldset>


                </div>
            </form>

            <div class="modal-footer" style="padding-left:20px; padding-right:20px;">
                <i class="modal-reference mr-auto">Reference Code : <i id="_REFERCODE_"></i></i>
                @if (ViewData["UserGroupID"].ToString() == "1" || ViewData["UserGroupID"].ToString() == "2")
                {
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalHistory" data-bs-remote="UserMaintenance">
                        <i class="fas fa-scroll" title="History Log"></i>
                    </a>
                }
            </div>
        </div>
    </div>
</div>




@section Scripts{
    
    @*<script type="text/javascript" src="~/assets/.script/Template/Master.js"></script>*@
    <script type="text/javascript" src="~/assets/.script/ServiceData/KBNIM001O.js?@ViewData["Version"]"></script>
}
