<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-6">
                                    <item type="select" id="itmSupplier" label="Supplier"></item>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <item type="select" id="itmKanban" label="Kanban"></item>
                                </div>
                                <div class="col-6">
                                    <item type="select" id="itmKanbanTo" label="To"></item>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <item type="select" id="itmStoreCode" label="Store Code"></item>
                                </div>
                                <div class="col-6">
                                    <item type="select" id="itmStoreCodeTo" label="To"></item>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <item type="select" id="itmPartNo" label="Part No"></item>
                                </div>
                                <div class="col-6">
                                    <item type="select" id="itmPartNoTo" label="To"></item>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <item type="date" id="itmDeliveryDate" label="Delivery Date" format="yyyy-mm-dd" default="now"></item>
                                </div>
                                <div class="col-6">
                                    <item type="date" id="itmDeliveryDateTo" label="To" format="yyyy-mm-dd" default="now"></item>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="textarea" id="itmRedLine" style="background-color:lightpink;" rows="2" readonly></item>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col">
                                </div>
                                <div class="col-6">
                                    <item type="textarea" id="itmBlueLine" style="background-color:aqua;" rows="2" readonly></item>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <fieldset class="fieldset">
                                <legend>Status</legend>

                                <div class="row">
                                    <div class="col-3">
                                        <item type="checkbox" id="itmStatusOK" label="OK"></item>
                                    </div>
                                    <div class="col-3">
                                        <item type="checkbox" id="itmStatusNO" label="NO"></item>
                                    </div>
                                    <div class="col">
                                        <item type="checkbox" id="itmStatusST" label="Parts Shortage"></item>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col">
                            <item type="button" id="btnSearch" label="Search" style="width:100%"></item>
                        </div>
                        <div class="col">
                            <item type="button" id="btnReport" label="Report" style="width:100%"></item>
                        </div>
                        <div class="col">
                            <item type="button" id="btnCancel" label="Cancel" style="width:100%"></item>
                        </div>
                    </div>
                </form>

                <div class="row mt-2">
                    <div class="col-7">
                        <div class="row">
                            <div class="col-2" style="padding-left:1px;padding-right:0px;">
                                <item type="textfloating" id="txtPartNo" label="Part NO."></item>
                            </div>
                            <div class="col" style="padding-left:1px;padding-right:0px;">
                                <item type="textfloating" id="txtStoreCode" label="Store"></item>
                            </div>
                            <div class="col-4" style="padding-left:1px;padding-right:0px;">
                                <item type="textfloating" id="txtPartName" label="Part Name"></item>
                            </div>
                            <div class="col" style="padding-left:1px;padding-right:0px;">
                                <item type="textfloating" id="txtSupplierName" label="Supplier"></item>
                            </div>
                            <div class="col" style="padding-left:1px;padding-right:0px;">
                                <item type="textfloating" id="txtKanbanNo" label="Kanban No"></item>
                            </div>
                            <div class="col" style="padding-left:1px;padding-right:0px;">
                                <item type="textfloating" id="txtCycle" label="Cycle"></item>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col" style="padding-left:1px;padding-right:0px;">
                                <item type="textfloating" id="txtQTYPack" label="QTY/Pack"></item>
                            </div>
                            <div class="col" style="padding-left:1px;padding-right:0px;">
                                <item type="textfloating" id="txtForecastMax" label="Forecast/Max"></item>
                            </div>
                            <div class="col" style="padding-left:1px;padding-right:0px;">
                                <item type="textfloating" id="txtCurrentUse" label="CurrentUse"></item>
                            </div>
                            <div class="col" style="padding-left:1px;padding-right:0px;">
                                <item type="textfloating" id="txtAverageTrip" label="Average/Trip"></item>
                            </div>
                            <div class="col" style="padding-left:1px;padding-right:0px;">
                                <item type="textfloating" id="txtSTDStock" label="STD. Stock"></item>
                            </div>
                            <div class="col" style="padding-left:1px;padding-right:0px;">
                                <item type="textfloating" id="txtSafetyStock" label="SafetyStock"></item>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col mt-4">
                        <table id="tblMaster" class="display" style="width:100%"></table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- Modal Master -->
<div class="modal fade" id="modalMaster" tabindex="-1" aria-labelledby="modalMasterLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMasterLabel"> @ViewData["AppName"] <span></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="frmMaster" class="needs-validation" autocomplete="off" novalidate>
                <div class="modal-body" style="padding-left:10px;padding-top:5px;padding-right:10px;">

                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
                        <div class="btn-group btn-group-sm me-2" role="group" aria-label="Toolbar">

                            <button type="button" class="btn btn-success" id="btnSave" name="btnSave" onclick="onSave();" title="Save data" @(ViewData["ComponentToolbarSave"].ToString() == "true" ? "" : "disabled")>
                                <i class="ti-save"></i>
                            </button>
                            <button type="button" class="btn btn-success" id="btnPrint" name="btnPrint" onclick="onPrint();" title="Print" @(ViewData["ComponentToolbarPrint"].ToString() == "true" ? "" : "disabled")>
                                <i class="ti-printer"></i>
                            </button>
                            <button type="button" class="btn btn-success" id="btnExecute" name="btnExecute" onclick="onExecute()" title="Execute/Run" @(ViewData["ComponentToolbarExecute"].ToString() == "true" ? "" : "disabled")>
                                <i class="fas fa-bolt"></i>
                            </button>
                            <button type="button" class="btn btn-success" id="btnDelete" name="btnDelete" onclick="onDelete();" title="Delete" @(ViewData["ComponentToolbarDelete"].ToString() == "true" ? "" : "disabled")>
                                <i class="far fa-trash-alt"></i>
                            </button>

                        </div>
                    </div>

                    <input type="hidden" class="form-control" id="_Action" name="_Action" value="POST">
                    <div class="bg-white border rounded-3">
                        <section class="w-100 p-2">
                            <div class="row g-2">
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="F_Plant">Plant</label>
                                        <select class="form-select" id="F_Plant" name="F_Plant" value="3" required noedit></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="F_OrderType">Order Type</label>
                                        <input type="text" class="form-control" id="F_OrderType" name="F_OrderType" autocomplete="off" required noedit>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="F_Effect_Date">Effective Date</label>
                                        <input type="text" class="form-control col-xl-8" id="F_Effect_Date" name="F_Effect_Date" format="yyyy-mm-dd" noedit />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input-group mb-3">
                                        <label class="input-group-text" for="F_End_Date">End Date</label>
                                        <input type="text" class="form-control" id="F_End_Date" name="F_End_Date" format="yyyy-mm-dd">
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            </form>

            <div class="modal-footer" style="padding-left:20px; padding-right:20px;">
                <i class="modal-reference mr-auto">Reference Code : <i id="_REFERCODE_"></i></i>
                @if (ViewData["UserGroupID"].ToString() == "1" || ViewData["UserGroupID"].ToString() == "2")
                {
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalHistory" data-bs-remote="UserMaintenance">
                        <i class="fas fa-scroll" title="History Log"></i>
                    </a>
                }
            </div>

        </div>
    </div>
</div>


@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/Master/KBNMS005.js")"></script>
}
