<div class="row">

    <div class="col-xl-12 col-md-12 col-sm-12">
        <div class="card border-left-primary shadow h-100">
            <div class="card-body">

                <form id="frmCondition">
@*
                    <div class="row">
                        <div class="col-6">
                            <item type="select" id="F_Plant" label="Plant" value="3" readonly></item>
                        </div>
                    </div>
*@
                </form>

                <div class="row">
                    <div class="col mt-4">
                        <item type="table" id="tblMaster"></item>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>


<!-- Modal Master -->
<div class="modal fade" id="modalMaster" tabindex="-1" aria-labelledby="modalMasterLabel" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMasterLabel"> @ViewData["AppName"] <span></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="frmMaster" class="needs-validation" autocomplete="off" novalidate>
                <div class="modal-body" style="padding-left:10px;padding-top:5px;padding-right:10px;">

                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
                        <div class="btn-group btn-group-sm me-2" role="group" aria-label="Toolbar">

                            <button type="button" class="btn btn-success" id="btnSave" name="btnSave" onclick="onSave();" title="Save data" @(ViewData["ComponentToolbarSave"].ToString() == "true" ? "" : "disabled")>
                                <i class="ti-save"></i>
                            </button>
                            <button type="button" class="btn btn-success" id="btnPrint" name="btnPrint" onclick="onPrint();" title="Print" @(ViewData["ComponentToolbarPrint"].ToString() == "true" ? "" : "disabled")>
                                <i class="ti-printer"></i>
                            </button>
                            <button type="button" class="btn btn-success" id="btnExecute" name="btnExecute" onclick="onExecute()" title="Execute/Run" @(ViewData["ComponentToolbarExecute"].ToString() == "true" ? "" : "disabled")>
                                <i class="fas fa-bolt"></i>
                            </button>
                            <button type="button" class="btn btn-success" id="btnDelete" name="btnDelete" onclick="onDelete();" title="Delete" @(ViewData["ComponentToolbarDelete"].ToString() == "true" ? "" : "disabled")>
                                <i class="far fa-trash-alt"></i>
                            </button>

                        </div>
                    </div>
                    
                    <input type="hidden" class="form-control" id="_Action" name="_Action" value="POST">
                    <input type="hidden" class="form-control" id="F_Plant" name="F_Plant">
                    <div class="bg-white border rounded-3">
                        <section class="w-100 p-2">
                            <div class="row g-2">
                                <div class="col-md-8">
                                    <item type="lov" id="F_Supplier_Code" label="Supplier Code"
                                          data-controller="LOVKB3.SupplierList"
                                          data-value="F_Supplier_Code:Supplier_Code,F_Supplier_Name:Supplier_Name"
                                          data-description="F_Supplier_Name"
                                          class-value="col-sm-2"></item>
                                </div>
                                <div class="col-md-4">
                                    <item type="text" id="F_Cycle" label="Cycle"></item>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-md-8">
                                    <item type="list" id="F_Kanban_No" label="Kanban No." 
                                          data-controller="LOVKB3.KanbanNoList"
                                          data-value="F_Kanban_No:Kanban_No"
                                          data-description="F_Kanban_No_Name" 
                                    class-value="col-sm-2"></item>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-md-8">
                                    <item type="list" id="F_Store_Code" label="Store Code"
                                          data-controller="LOVKB3.StoreCodeList"
                                          data-value="F_Store_Code:Store_Code"
                                          data-description="F_Store_Code_Name"
                                          class-value="col-sm-2"></item>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-md-8">
                                    <item type="lov" id="F_Part_No" label="Part No"
                                          data-controller="LOVKB3.PartList"
                                          data-value="F_Part_No:Part_No,F_Part_Name:Part_Name"
                                          data-description="F_Part_Name"
                                          class-value="col-sm-2"></item>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-md-3">
                                    <item type="date" id="F_Start_Date" label="Start Date" format="yyyy-mm-dd" default="now" noedit required></item>
                                </div>
                                <div class="col-md-3">
                                    <item type="date" id="F_End_Date" label="End Date" format="yyyy-mm-dd" default="2999-12-31" required></item>
                                </div>
                            </div>

                            <div class="row g-2">
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <label class="input-group-text" for="F_Type_Special">Type Special</label>
                                        <select class="form-select" id="F_Type_Special" name="F_Type_Special">
                                            <option value="IMV Part">IMV Part</option>
                                            <option value="Passenger Car">Passenger Car</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <span style="color:red">Remark : Type Special have IMV Part, Passenger Car, Other</span>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
            </form>

            <div class="modal-footer" style="padding-left:20px; padding-right:20px;">
                <i class="modal-reference mr-auto">Reference Code : <i id="_REFERCODE_"></i></i>
                @if (ViewData["UserGroupID"].ToString() == "1" || ViewData["UserGroupID"].ToString() == "2")
                {
                    <a href="#" data-bs-toggle="modal" data-bs-target="#ModalHistory" data-bs-remote="UserMaintenance">
                        <i class="fas fa-scroll" title="History Log"></i>
                    </a>
                }
            </div>

        </div>
    </div>
</div>



@using KANBAN.Libs
@section Scripts {
    <script type="text/javascript" src="@FileVersionHelper.VersionedScriptPath("/assets/.script/Master/KBNMS004.js")"></script>
}